@page
@model IndexModel

@using Microsoft.AspNetCore.Identity
@using RazorPage_uppgift.Models

@inject UserManager<MyUser> UserManager

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (User.IsInRole("Admin"))
    {
        <h1 class="display-4">Hi Admin!</h1>
    }
    else if (User.IsInRole("Organizer"))
    {
        <h1 class="display-4">Hi Organizer!</h1>
    }
    else
    {
        <h1 class="display-4">Welcome!</h1>
    }
    <p>Where events come together.</p>
    <div>
        <partial name="_LoginPartial" />
    </div>

</div>