@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Find events that you want to sign up for!</p>
    <div>
        <partial name="_LoginPartial" />
    </div>
    
</div>
